.card {
  background-color: #28282f;
  border-radius: 8;
  padding: 12;
  cursor: pointer;
  box-shadow: 0 2px 8px #0002;
  display: flex;
  flex-direction: column;
  gap: 8;
  position: relative;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 10;
}

.card__title {
  font-weight: 500;
  font-size: 16;
}

.card__description {
  font-size: 13;
  color: #aaa;
  margin: 2px 0;
}

.card__tags {
  display: flex;
  align-items: center;
  gap: 8;
  flex-wrap: wrap;
}

.card__info {
  display: flex;
  align-items: center;
  gap: 8;
  margin-top: 4;
}
