.admin_page {
  max-width: 900px;
  margin: 32px auto;
  border-radius: 18px;
  box-shadow: 0 2px 16px #0002;
  padding: 32px;
  color: #fff;
  background: #18181b;
  transform: translateY(-60px);
}
.admin_top_block {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 32px;
  justify-content: space-between;
}
.admin_sidebar {
  position: fixed;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  background: #23232b;
  border-radius: 24px;
  box-shadow: 0 2px 16px #0003;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 10;
}
.admin_sidebar_btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 2rem;
  padding: 12px 18px;
  border-radius: 16px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin_sidebar_btn.active,
.admin_sidebar_btn:hover {
  background: #7c3aed;
  color: #fff;
}
.admin_content {
  margin-left: 110px;
  // чтобы не перекрывал sidebar
}
